@model Escuela

@{
    ViewData["Title"] = "Información Escuela";
}
<h1>@ViewData["Title"]</h1>
<h2>Nombre: @Model.Nombre</h2>
<h3>Tipo de escuela: @Model.TipoEscuela</h2>

<address>
    <p>Dirección: @Model.Direccion</p>
    <p>Pais: @Model.Pais</p>
    <p>Ciudad: @Model.Ciudad</p>
</address>   

<p><strong>Año fundación escuela: @Model.AñoFundacion</strong></p>

<p><i>@ViewBag.FechaActual</i></p>
